/* Font Poppin and Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap');

/* ============== Root ============== */
:root {

    /* Theme color */
    --color-1: #03001C;
    --color-2: #1b1235;
    --color-3: #5b8fb9;
    --color-4: #85dcc2;
    --color-5: #47d0a7;
}

/* ============== Custom Class general use ============== */
/* -------- Base Class -------- */

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-1);
}

.es-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3rem;
}

.header {
    height: 100vh;
    /* background: url(../images/image-01.jpg) center / cover no-repeat; */
}


/* -------- SlickJS Custom -------- */
.slick-prev::before,
.slick-next::before {
    content: "" !important;
}

.slick-prev {
    margin-left: -1.5rem;
}

.slick-next {
    padding-left: 2rem;
}

.slick-arrow i,
.slick-arrow svg {
    font-size: 1.5rem;
    color: #fff;
}

.slick-disabled {
    opacity: .6;
}

.slick-dots li button::before {
    content: none !important;

}

.slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: .5px solid #fff;
    background-color: #fff;
}

.slick-dots .slick-active {
    background-color: var(--color-5);
}

/* -------- Class btn, hover text and button -------- */
.es-title {
    font-family: "Roboto Slab", serif;
    color: #fff;
}

.es-text-hover {
    color: #fff;
    transition: all .25s ease;
}

.es-text-hover:hover {
    color: var(--color-4);
}

.es-btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: var(--color-4);
    transition: all .3s ease;
}

.es-btn:hover {
    background-color: var(--color-5);
}


/* ============== Custom Class general use ============== */
/* -------- Navbar responsive -------- */
.es-nav-active {
    opacity: 1 !important;
    pointer-events: initial;
    display: block !important;
}

.es-nav-block {
    opacity: 0;
    display: none;
    pointer-events: auto;
}

.es-nav {
    padding: 1.5rem 0;
    background-color: var(--color-1);
}

.es-nav-contact {
    padding: 1.5rem 0;
    background-color: var(--color-2);
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 1.5rem;
    height: 1rem;
    border: none;
    outline: none;
    visibility: visible;
  }
  .burger-line {
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 2.15px;
    opacity: 1;
    rotate: 0deg;
    border-radius: 0.15rem;
    background-color: var(--color-4);
    transition: all 0.3s ease;
  }
  .burger-line:nth-child(1) {
    top: 0px;
  }
  .burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
  }
  .burger-line:nth-child(3) {
    top: 1rem;
  }
  .burger.is-active > .burger-line:nth-child(1) {
    top: 0.5rem;
    rotate: 135deg;
  }
  .burger.is-active > .burger-line:nth-child(2) {
    opacity: 0;
  }
  .burger.is-active > .burger-line:nth-child(3) {
    top: 0.5rem;
    rotate: -135deg;
  }


/* -------- Scroll Animation -------- */
.es-scroll-reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.es-scroll-active {
    transform: translateY(0);
    opacity: 1;
}

/* -------- Amenities | Content 2 -------- */
.es-con2-icon {
    color: var(--color-4) !important;
    transition: all .25s ease;
}

.es-con2-icon:hover {
    transform: scale(1.1);
}

/* -------- Gallery | Content 2 -------- */
.es-gallery-slider div img {
    transform: scale(1.1);
    transition: all .3s ease;
}

.es-gallery-slider div img:hover {
    transform: scale(1);
}

.es-gallery-slider div a {
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
}

.es-gallery-slider .relative:hover a {
    transform: scale(1);
    opacity: 1;
}


/* -------- Pleasant Nature | Content 6 -------- */
.es-con5 {

    position: relative;

    /* The image used */
    background-image: url("../images/image-12.jpg");

    /* Set a specific height */
    min-height: 500px;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.es-con5::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(3, 7, 18, .6);
}

.es-con5-animate {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background-color: var(--color-4);
    border-radius: 50%;
    color: #fff;
    animation: pulse 2s infinite linear;
}

@keyframes pulse {
    25% {
        box-shadow: 0 0 0 18px var(--color-3);
    }
    50% {
        box-shadow: 0 0 0 18px var(--color-5);
    }
}

.es-con5-animate i,
.es-con5-animate svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* -------- Footer -------- */
.es-footer {
    background-color: var(--color-2);
}